.rotateimg{
    perspective: 1000px;
    width: 100px;
    height: 60px;
    margin: 200px auto;
    background: url('../images/logo.png') no-repeat;
    /* -webkit-background-size: auto; */
    background-size: cover;
    position: relative;
    transform-style: preserve-3d;
    transition: all 6s;
}

.rotateimg:hover{
    transform: rotateX(360deg) rotateY(180deg);
}
.rotateimg div{
    width: 100%;
    height: 100%;
    background: url("../images/logo.png");
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
}
.rotateimg div:nth-child(1){
    transform: rotateY(0deg) translateZ(80px);
}
.rotateimg div:nth-child(2){
    transform: rotateY(60deg) translateZ(80px);
}
.rotateimg div:nth-child(3){
    transform: rotateY(120deg) translateZ(80px);
}
.rotateimg div:nth-child(4){
    transform: rotateY(180deg) translateZ(80px);
}
.rotateimg div:nth-child(5){
    transform: rotateY(240deg) translateZ(80px);
}
.rotateimg div:nth-child(6){
    transform: rotateY(300deg) translateZ(80px);
}
.rotateimg div:nth-child(7){
    transform: rotateX(90deg) translateZ(80px);
}
.rotateimg div:nth-child(8){
    transform: rotateX(-90deg) translateZ(80px);
}
